.container
{
    border: solid #333;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 8%;
    position: relative;
    object-fit: contain;
    overflow: hidden;
}
@font-face {
    font-family: cara;
    src: url(image/MacondoSwashCaps-Regular.ttf);
}
#cara{
    font-family: cara;
    margin-left: 7%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#fa-user{
    color: white;
}
.shadow
{
    position: absolute;
    overflow: hidden;
    width: 35%;
    height: 10%;
    background-color: #000;
    transform: rotate(-25deg);
    top: -1%;
    right: -5%;
    border-radius: 15%;
}
.logo1 
{
    height: 50px;
    margin-left: 80px;
}
.navigation > a
{
    margin-left: 1cm;
    text-decoration: none;
    color: #333;
}
.nav ul
 {
    list-style: none;
    display: flex;
    margin-left: 40px;
    text-decoration: none;
    color: #333;
}
.home-page
{
    display: flex;
    align-items: center;
    padding: 0px 12px 5px 12px;
    margin-bottom: 40px;
    gap: 20%;
    z-index: 1;
    position: relative;
    margin-top: -1%;
}
svg{
   position: relative;
   left: 70%;
}
.home1
{
    font-size: 30px;
    margin: 0;
    margin-left: 99px;
    width: 498px;
    margin-right: -85px;
    padding: 40px 0px;
}
#nam
{
    font-size: 18px;
}
#home
{
    border: dashed 3px;
    border-color: black;
}
.button
{
    padding:5px;
    gap: 55px;
}
.one1
{
    background-color: black;
    color: white;
    border-radius: 50px;
    height: 58px;
    width: 25%;
}
#play
{
    border: #333;
    background-color:grey;
    padding: 0.05cm;
    border-radius: 15%;
    size: 1px;
    width: 20px;
    height: 25px;
}
#watchvideo
{
    font-size: 17px;
}
.amount
{
    display: flex;
    margin-right: -155px;
    gap: 50px;
    font-size: 15px;
}
.logos{
    display: flex;
    gap: 35px;
    font-size: 25px;
    margin-left: 9%;
    align-content: center;
    width: 100%;
    align-items: flex-end;
    /* padding: 10px; */
}
#ikea{  
    font-family: "Chango";

}
#diptyque{
    font-family: "Newsreader";
}
#desenio{
    font-family: "Comfortaa";
}
#benuta{
    font-family: "Mitr";
}
#westwink{
    font-family: "Libre Caslon Display";
}
.adverts{
    display: flex;
    gap: 3cm;
    margin-left: 9%;
    width: 100%;
    size: 3cm;
    align-items: flex-end;
}
#head2{
    margin-left: 80px;
}
#new{
    margin-left: 0cm;
    color: red;
    padding-bottom: 5cm;
}
.sales
{
    display: flex;
    gap: 50%;
    margin-left: 2.5%;
    margin-bottom: 1cm;
}
#imt
{
    margin-left: 3.5cm;
}
.restyle
{
    text-align: center;
    margin: 80px;
    margin-top: 8%;
    font-size: 20px;
}
#caret_left
{
    color: #c0b1b1;
}
.trend
{
display: flex;
margin-bottom: 8%;
margin-left: 8%;
gap: 170px;
}
.trendy{
    margin-left: 5%;
    font-size: 20px;
}
#shopnow
{
    border-radius: 50px;
    height: 38px;
    width: 25%;
}
#shopnow1
{
    border-radius: 50px;
    height: 38px;
    width: 85px;
}
.offer
{
    display: flex;
    margin-left: 8%;
    gap: 200px;
}
.offer1
{
    font-size: 20px;
}

.shopping{
    font-size: 20px;
    margin: 80px;
    text-align: center;
}
.icons
{
    display: flex;
    gap: 3CM;
    font-size: 20px;
    margin-left: 8%;
}
.content1
{
    display: flex;
    margin-top: -18%;
    font-size: 20px;
}
.footer-columns
{
    display: flex;
    gap: 35px;
    margin-top: 58%;
    margin-left: -120%;
    padding: 15%;
}
.review
{
    font-size: 20px;
    padding: 25%;
    margin-top: -13%;
}
#text1
{
    font-size: 20px;
}
.copy1
{
    margin-top: 50%;
    margin-left: 10px; 
}
.arrow
{
    display: flex;
    gap: 10cm;
}
#arrw
{
    margin-top: 20px;
}